 <tr>
        <td><%=  %></td>
        <td><%= employee.name %></td>
        <td><%= ((Time.zone.now - employee.birth_date.to_time) / 1.year).floor %></td>
        <td><%= employee.id_number %></td>
        <td><%= employee.role.try(:name) %></td>
        <td><%= employee.department.try(:name) %></td>
        <td>
          <%= link_to company_employee_path(@company, employee), class: "btn btn-success" do %>
          <i class="fa-solid fa-binoculars"></i>
          <% end %>
          <%= link_to edit_company_employee_path(@company, employee), class: "btn btn-warning" do %>
          <i class="fa-sharp fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= link_to company_employee_path(@company, employee), data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro de eliminar este empleado?' }, class: "btn btn-danger" do %>
          <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </td>
      </tr>
