 <tr>
        <td><%= employee.name %></td>
        <td><%= ((Time.zone.now - employee.birth_date.to_time) / 1.year).floor %></td>
        <td><%= employee.id_number %></td>
        <td><%= employee.role.try(:name) %></td>
        <td><%= employee.department.try(:name) %></td>
        <td><% if employee.avatar.attached? %><%= cl_image_tag employee.avatar.key, width: 50, crop: :fill %>
        <% else %>No tiene avatar<% end %></td>

        <td>
          <%= link_to employee_path(employee), class: "btn btn-success" do %>
          <i class="fa-solid fa-binoculars"></i>
          <% end %>
          <%= link_to edit_employee_path(employee), class: "btn btn-warning" do %>
          <i class="fa-sharp fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= link_to employee_path(employee), data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro de eliminar este empleado?' }, class: "btn btn-danger" do %>
          <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </td>
      </tr>
