<h2 class="m-5 text-center">
  <strong>Lista de Empleados (<%= @company.employees.count %>)</strong>
</h2>

<div class="container">
  <div class="d-flex justify-content-between align-items-center m-3">
    <%= link_to new_company_employee_path(@company), class: "btn btn-success" do %>
      <i class="fa-solid fa-user-plus me-2"></i> Agregar Empleado
    <% end %>
    <%= link_to company_employees_path(@company, format: :xlsx), class: "btn btn-success" do %>
      <i class="fa-solid fa-file-excel me-2"></i> Exportar a Excel
    <% end %>
  </div>
  <div class="d-flex justify-content-end m-2">
    <%= form_tag company_employees_path(@company), method: :get, class: "form-inline" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Buscar" %>
        <div class="input-group-append">
          <%= submit_tag "Buscar", class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="table-responsive bg-white shadow rounded p-4 m-2">
    <div class="d-flex justify-content m-3">
      <%= raw pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <table class="table table-striped text-center mb-0">
      <thead class="border-bottom table-dark text-white">
        <tr>
          <th class="p-3">Nombre</th>
          <th class="p-3">Edad</th>
          <th class="p-3">Cédula</th>
          <th class="p-3">Cargo</th>
          <th class="p-3">Departamento</th>
          <th class="p-3">Avatar</th>
          <th class="p-3">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <%= render @employees %>
      </tbody>
    </table>

    <div class="d-flex justify-content-end m-3">
      <%= raw pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %> <%# El doble igual es lo que hace interpretar la etiqueta en HTML %>
    </div>
  </div>
</div>
